<div>
    <p style="color: #00A651;font-weight: bold;text-align: center;">
        18th International Conference on the Science and Application of Nanotubes and Low-Dimensional Materials
        <br>Belo Horizonte, Minas Gerais, Brazil from 25 to 30 of june, 2016
    </p>
    <section id="sidebard2">
        <ul class="style1">
            <li ng-repeat="element in tabCtrl.SIDE_ELEMENT" ng-class="first">
                <a href="#{{element.id}}" ng-click="tabCtrl.selectTab(element)">{{element.name}}</a>
            </li>
        </ul>
    </section>
</div>
