<div>
    <div style="text-align:left">
        <img src="images/NT17-logo-site.png" style="max-width: 100%;">
    </div>
    <!--
    <p style="color: #00A651;font-weight:400;text-align:center;line-height:1.5;max-width:90%;margin:10px auto 0;font-size:0.813rem;">
        18th International Conference on the Science and Application of Nanotubes and Low-Dimensional Materials
        <br>Belo Horizonte, Minas Gerais, Brazil
        <br>from 25 to 30 of june, 2016
    </p>
    -->
   
    <section id="sidebard2">
        <ul class="style1"  style="font-size: 1.2em;">
            <li ng-repeat="element in tabCtrl.SIDE_ELEMENT" ng-class="first">
                <a href="#{{element.id}}" ng-click="tabCtrl.selectTab(element)">{{element.name}}</a>
            </li>
        </ul>
    </section>
</div>
